@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.menu-container {
  width: 100%;
  background-color: #FFF;
  position: fixed;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
  height: 3rem;
}

.item {
  float: left;
}

.item .link {
  font-size: 1.3em;
  font-weight: 600;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #686aac;
}

body,
input,
button,
textarea {
  font: 600 18px "Nunito", sans-serif;
  margin: 0;
  box-sizing: border-box;
}