.header {
    padding-top: 95px;
    text-align: center;
    color: white;
    background-color:#686AAC;
    background-size: cover;
    height: 16rem;
    justify-content: center;
}
  
.header h1 {
    font-size: 2.5rem;
    margin-top: -30px;
}
  
.header img {
    /* margin-top: -5px; */
    width: 25rem;
}