@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap");
* {
    margin: 0%;
    padding: 0%;
    align-items: center;
    background-color: var(--bg-light);
    text-align: center;
    font-family: "Poppins", sans-serif;;
}

.capitulo-container {
    margin-top: 3.6rem;
}

.title {
    color: var(--brand-dark);
    font-size: 36px;
    margin-bottom: 1rem;
}

img {
    width: 30rem;
    margin: 0%;
    padding: 0%;
    border-radius: 1rem;
}

.text-container{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.texto{
    /* padding: 0.1rem; */
    color: black;
    margin-top: 1rem;
    text-align: justify;
    width: 90%;
}